body {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  background-color: #292929;
  color: #AAA;
  overflow-x: hidden;
  margin: 0;
}

header {
  margin-bottom: 10px;
  background: #1E1E1E;
  padding: 10px 15px;
  width: calc(100% - 50px);
  display: flex;
  color: #AAA;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: row;
}